
.gaubiantis {
    display: flex;
    height: 500px;
    border: 5px solid rgb(122, 179, 226);
    border-radius: 10px;
    align-items:center;
    justify-content:center;

}
.centrinis {
    height: 50px;
    background-color:rgb(122, 179, 226) ;
    padding: 0.7em;
    width: 150px;
    color: white;
    border: 1px solid black;
    font-size: 30px;
    text-align: left;  

    
}